body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://wallpapercrafter.com/desktop1/667153-smoke-veil-white-dark-form-backgrounds-abstract.jpg);
}

.container {
    text-align: center;
}

.block {
    margin-bottom: 20px;
}

.block__text {
    margin-bottom: 10px;
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    animation: tanos 4s infinite alternate;
    padding: 10px 10px;
}
@keyframes tanos {
    0%{
        background-color: #4CAF50;
    }
    25%{
        background-color: red;
    }
    50%{
        background-color: blue;
    }
    75%{
        background-color: blueviolet;
    }
    100%{
        background-color: rgb(74, 114, 114);
    }

}

.block__info {
    width: 200px; 
    padding: 10px;
    margin-bottom: 10px;
}

.button {
    padding: 15px 50px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    
}
.button:hover{
    animation: iron 3s infinite alternate;
}
.block__ifor {
    width: 200px; 
    padding: 10px;
    margin-bottom: 10px;
}
.block__into {
    width: 200px; 
    padding: 10px;
    margin-bottom: 10px;
}
.block__inpo {
    width: 200px; 
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.7s;
}
.block__inpo.green{
    
    box-shadow: 0px 0px 50px green;
}
.block__inpo.red{
    box-shadow: 0px 0px 50px red;
}

@keyframes iron {
    0%{
        background-color: #9b4caf;
    }
    25%{
        background-color: rgb(230, 127, 127);
    }
    50%{
        background-color: rgb(23, 23, 77);
    }
    75%{
        background-color: rgb(62, 55, 70);
    }
    100%{
        background-color: rgb(143, 221, 221);
    }
}

.check{
    position: absolute;
    opacity: 0;
    background-color: black;
    color: white;
    transition: 1s;
    margin-bottom: 1100px;
    padding: 30px 50px;
    border-radius: 30px;
    border: 10px solid #ffffff;
}

.modell{
    font-size: 30px;
}
.check.razer{
    opacity: 1;
    margin-bottom: 500px;
}
.modalka {
    position: absolute;
    opacity: 0;
    background-color: black;
    color: white;
    transition: 1s;
    margin-bottom: 1100px;
    padding: 30px 50px;
    border-radius: 30px;
    border: 10px solid #fff;

}
.modalka__img{
    width: 50px;
    animation: hear 2s linear infinite;
}
@keyframes hear {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(380px);
    }
}
.modalka__text {
    font-size: 30px;
}
.modalka.blody{
    opacity: 1;
    margin-bottom: 500px;
}
.pinkod {
    position: absolute;
    opacity: 0;
    background-color: black;
    color: white;
    transition: 1s;
    margin-bottom: 1100px;
    padding: 30px 50px;
    border-radius: 30px;
    border: 10px solid #fff;
}
.pinkod__img{
    width: 50px;
    border-radius: 30px;
    animation: hew 1.7s linear infinite;
}
@keyframes hew {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(430px);
    }
}
.pin__text {
    font-size: 30px;
}
.pinkod.pasword {
    opacity: 1;
    margin-bottom: 500px;
}
.emailik {
    position: absolute;
    opacity: 0;
    background-color: black;
    color: white;
    transition: 1s;
    margin-bottom: 1100px;
    padding: 30px 50px;
    border-radius: 30px;
    border: 10px solid #fff;
}
.emailik.emalike{
    opacity: 1;
    margin-bottom: 500px;
}
.emailik__text {
    font-size: 30px;
}

.emailik__img{
    width: 50px;
    background-color: white;
    border-radius: 20px;
    animation: hepi 2s linear infinite;
}

@keyframes hepi {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(250px);
    }
}

.check__img{
    width: 50px;
    animation: ears 3s linear infinite;
}

@keyframes ears {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(230px);
    }
}
@media (max-width: 1199px) {}

/* Стилі для середніх екранів (дисплей максимум 991рх) */
    @media (max-width: 991px) {}

/* Стилі для малих екранів (дисплей максимум 767рх) */
    @media (max-width: 767px) {
        .block{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .block__text{
            width: 210px;
            font-size: 27px;
        }
        .countainer{
            width: 500px;
        }
        .button{

        }
        .block__text{

        }
        .input__block{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

/* Стилі для дуже малих екранів (дисплей максимум 575рх) */
    @media (max-width: 575px) {
        .block{
        }
        .block__text{
            width: 400px;
        }
        .input__block{
        }
        .button{
        }
        .check__img{
            display: none;
        }
        .modalka__img{
            display: none;
        }
        .pinkod__img{
            display: none;
        }
        .emailik__img{
            display: none;
        }
    }

    @media (max-width: 490px){
        .block__text{
            width: 200px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }
