.header__body {
    display: flex;
    justify-content: space-around;
}
.logotipchik {
    margin-top: 20px;
    width: 230px;
    animation: rotate 2s linear infinite alternate;
}
@keyframes rotate{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.1);
    }
}
.header__text {
    margin-top: 40px;
}
.text {
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin: 30px;
    transition: 0.7s;
    padding: 15px 30px;
}
.text:hover{
    background-color: black;
    color: white;
    border-radius: 10px;

}
body{
    background: linear-gradient(135deg, #34dba9, #d82b96)
}
.countainer {
}
.title {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-top: 100px;
}
.text__title {
    font-size: 30px;
    cursor: pointer;
    width: 500px;
    transition: 0.7s;
    text-align: center;
}
.text__title:hover{
    background-color: black;
    color: white;
    border-radius: 20px;
    
}
.text__img {
    transition: 0.7s;
}
.text__img:hover{
    transform: scale(1.1);
}

.card__block {
    margin-top: 130px;
    text-align: center;
}
.card__block-text {
    font-size: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.block__cartinka {
    margin-top: 50px;
}
.card__img {
}
.icon {
    margin: 100px;
    width: 130px;
    animation: tuti 2s linear infinite alternate;
}
@keyframes tuti{
    0%{
        transform: scale(0.8);
    }
    25%{
        transform: translateX(50px);
    }
    50%{
        transform: translateX(-50px);
    }
    100%{
        transform: scale(1.1);
    }
}
.icons{
    margin: 100px;
    width: 130px;
    animation: fruti 2s linear infinite alternate;
}
@keyframes fruti {
    0%{
        transform: translateY(50px);
    }
    25%{
        transform: translateX(50px);
    }
    50%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateY(-50px);
    }
}
.iconi{
    margin: 100px;
    width: 130px;
    animation: lolo 2s linear infinite alternate;
}

.countainer__card-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 1000px;
    margin-left: 400px;
    
}
.terminal {
    transform: rotate(90deg);

}
.card__terminal {
    width: 180px;
    animation: card 3s linear infinite;
}
@keyframes card {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(800px);
    }
}
@keyframes lolo {
    0%{
        transform: rotate(360deg);
    }
    25%{
        transform: translateX(30px);
    }
    50%{
        transform: translateX(-30px);
    }
    75%{
        transform: translateY(40px);
    }
    100%{
        transform: translateY(-40px);
    }
}

.place__id{
    color: white;
    padding: 15px 30px;
    margin-left: 220px;
    border-radius: 30px
}

.div__bank {
    width: 600px;
    margin-left: 610px;
    transform: scale(0);
    opacity: 0;
    transition: 1.2s;
}

.div__bank.new{
    transform: scale(1);
    opacity: 1;
}
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(135deg, #34dba9, #2b3cd8);
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {

    border-radius: 8px;
    border: 3px solid rgb(136, 197, 38);
}

::-webkit-scrollbar-thumb:hover {
    background: goldenrod;
}

/* Стилі для великих екранів (дисплей максимум 1199рх) */
@media (max-width: 1199px) {}

/* Стилі для середніх екранів (дисплей максимум 991рх) */
    @media (max-width: 991px) {
        .logotipchik{
            display: none;
        }
        .text__img{
        }
        .card__img{
            width: 400px;
        }
        .text{
            font-size: 30px;
            padding: 1px 3px;
        }
        .text:hover{
            border-radius: 10px;
        }
        .header__text{
            text-align: center;
        }
    }

/* Стилі для малих екранів (дисплей максимум 767рх) */
    @media (max-width: 767px) {
        .logotipchik{
            display: none;
        }
        .text__img{
            display: none;
        }
        .card__img{
            width: 400px;
        }
        .text{
            font-size: 30px;
            padding: 1px 3px;
        }
        .text:hover{
            border-radius: 10px;
        }
        .header__text{
            text-align: center;
        }
    }

/* Стилі для дуже малих екранів (дисплей максимум 575рх) */
    @media (max-width: 575px) {
        .logotipchik{
            display: none;
        }
        .text__img{
            display: none;
        }
        .card__img{
            width: 400px;
        }
        .text{
            font-size: 30px;
            padding: 5px 10px;
        }
        .text:hover{
            border-radius: 10px;
        }
        .header__text{
            text-align: center;
        }
        .div__bank{
            display: none;
        }
    }
    @media (max-width: 400px){
        .card__img{
            width: 300px;
        }
    }   